
<div class="card-deck -2 ms-3">

  <div class="card bg-dark mb-3 text-info  h-500" style="width: 18rem;"  >
    <div class="card-header text info border-info" style="width: 8rem;"> <%= project.title %> </div>
  
    <div class="card-body text-info" style="height: 18rem;">
      <p class="card-text"><%= project.description %></p>
    </div>
    <div class="card-footer bg-transparent border-info" style="width: 8rem;"> <%= link_to "Show this project", project, :class => "btn btn-outline-info btn-sm"%> </div>
  </div>
</div>








