

<div class="container">
<h1>Projects</h1>
</div>

<% @projects.each do |project| %>
    <%= render project %>

    <% end %>



<%= link_to "New project", new_project_path, :class => "btn btn-outline-dark" if user_signed_in?%> 



