
  <div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Welcome</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Hello! Welcome to my portfolio (work in progress). Below are a list of my accomplished software projects</p>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
    </div>
  </div>
</div>



    <div class="card-group">
    <% @projects.each do |project| %>
        <%= render project %>
    
        <% end %>
    </div>

  </div>  

  <div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">About Me</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Hello! Welcome to my portfolio (work in progress). Below are a list of my accomplished software projects</p>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
    </div>
  </div>
</div>
  <p id="opening">Here is an introductory paragraph with the selector 'opening' attached to it.</p>





